/*---------------GLOBAL---------------*/

/*outline: 5px solid rgba(0, 255, 255, 0.3);
  	outline-offset: -5px;*/

:root {
	--white: #FFFFFF;
	--grey-extra-light: #D7DCDE;
	--grey-light: #B4B9BB;
    --grey: #EEEEEE;
	--grey-dark: #DFDFDF;
	--grey-extra-dark: #D5D5D5;
	--grey-special: #666666;
	--grey-page-button: #DBDBDB;
	--grey-for-social: #E1E1E1;
	--grey-for-toggle: #ABABAB;
	--grey-for-shadow-toggle: #CFCFCF;
	--grey-for-slider-button: #C1C1C1;
	

	--black: #000000;
	--black-light: #283136;
	--black-extra-light: #444444;
	--black-for-filter: #4D4d4D;
	
	--red: #FB565A;
	--red-dark: #E74246;
	--red-extra-dark: #D7373B;

	--green: #00CA74;
	--green-dark: #00BC6C;
	--green-extra-dark: #00AA62;

	--yellow: #EFC84A;
	--yellow-dark: #EAB534;
	--yellow-extra-dark: #E5A722;
}

body {
	min-width: 1180px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: var(--black);
	background-color: var(--white);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	margin: 0;
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
}
figure {
	margin: 0;
}

.visually-hidden {
	display: none;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}



/*------------------------------INDEX.HTML---------------*/
.main-header {
	background-color: var(--grey);	
}

.logo {
	
}

.main-navigation-wrapper {
	margin-top: 49px;
	width: 100%;
	display: flex;
  	justify-content: flex-start;
}
 
 .container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

a.logo {
	display: block;
	margin-right: 202px;
}
a.logo:focus {
	opacity: 0.3;
}

.main-navigation, .cart {
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
}

.site-navigation {
	padding: 0;
	width: 438px;
	margin-top: 27px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.site-navigation a, .cart a {
	color: var(--black);
}

.site-navigation a:hover, .cart a:hover {
	color: #FB565A;
}

.site-navigation a:focus, .cart a:focus {
	color: var(--black);
	/*opacity: 0.3;*/
}

.cart {
	height: 30px;
	padding: 0;
	margin-left: 245px;
	margin-top: 27px;
	background-image: url('../img/cart-icon.svg');
	background-repeat: no-repeat;
	background-position: left center;
}

.cart a {
	padding: 0;
	padding-left: 40px;
}

.slider {
	position: relative;
}

.slide {
	display: none;
	justify-content: space-between;
}

.slide-current {
	display: flex;
}

.slide-item {
	padding-top: 70px;
}
.slide-item img {
	padding-bottom: 5px;
}
.slide-item h2 {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	margin: 0;
}

.slide-item p {
	color: var(--black-light);
	margin-top: 27px;
}

.slide-item a {
	margin-top: 38px;
	margin-bottom:80px;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--white);
	background-color: var(--red);
	border-radius: 3px;
	width: 240px;
	height: 50px;
	display: flex;
	justify-content:center;
	align-items:center;
}

.slide-item a:hover {
	background-color: var(--red-dark);
}

.slide-item a:focus {
	background-color: var(--red-extra-dark);
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.slide1 {
	background: url('../img/slide1.png') no-repeat;
	background-position-x: 397px;
	background-position-y: -8px;
}

.slide2 {
	background: url('../img/slide2.png') no-repeat;
	background-position: right top;
}

.slide3 {
	background: url('../img/slide3.png') no-repeat;
	background-position: right top;
}

.slider-switch {
	position: absolute;
	width: 88px;
	display: flex;
	justify-content: space-between;
	left: 536px;
	bottom: 96px;
}

.slider-switch button {
	padding: 0;
	margin: 0;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: none;
	background-color: var(--white);
	cursor: pointer;
}
.current::after {
	content: "";
	position: absolute;
	bottom: 3px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 2px solid var(--black);
}
.services {
	list-style: none;
	color: var(--black-light);
	margin: 0;
	margin-top: 80px;
	display: flex;
	padding-left: 0;
}

.services img {
	display: block;
}

.services li:nth-child(2) {
	margin-right: 100px;
	margin-left: 100px;
}

.services h3 {
	margin: 0;
	margin-top: 25px;
	margin-bottom: 16px;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.services p {
	margin: 0;
	margin-bottom: 32px;
}

.button-services {
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--white);
	border-radius: 3px;
	width: 160px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.services-website a {
	background-color: var(--red);
}

.services-website a:hover {
	background-color: var(--red-dark);
}	

.services-website a:focus {
	background-color: var(--red-extra-dark);
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.services-apps a {
	background-color: var(--green);
}

.services-apps a:hover {
	background-color: var(--green-dark);
}	

.services-apps a:focus {
	background-color: var(--green-extra-dark);
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.services-presentation a {
	background-color: var(--yellow);
}

.services-presentation a:hover {
	background-color: var(--yellow-dark);
}	

.services-presentation a:focus {
	background-color: var(--yellow-extra-dark);
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.main-article p, .list-jobs {
	color: var(--black-light);
}

.main-article-wrapper {
	padding: 0;
	display: flex;
	justify-content: space-between;
	border-top: 2px solid var(--grey);
	margin-top: 80px;
	margin-bottom: 74px;
}

.main-article {
	width: 700px;
	padding-top: 73px;
}

.aside {
	padding: 0;
	padding-top: 39px;
}

.img-logo-color {
	display: block;
}

p.main-article-header {
	margin: 0;
	margin-bottom: 33px;
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	color: var(--black);
}

.main-article h4 {
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 40px;
	margin-bottom: 23px;
}

.list-jobs {
	margin: 0;
	padding: 0;
}

.list-jobs li {
	list-style: none;
	background: url('../img/red-line.png') left no-repeat;
	list-style-position: inside;
	padding-left: 37px;
	margin-bottom: 24px;
}

.list-jobs li:last-child {
	margin: 0;
}

.advantage {
	margin-top: 39px;
	width: 361px;
	line-height: 18px;
	color: var(--black-light);
	border-collapse: collapse;
}

.advantage caption {
	font-weight: 700;
	text-transform: uppercase;
	color: var(--black);
	padding-left: 4px;
	margin-bottom: 32px;
}

.advantage td {
	width: 32%;
}

.advantage-tr2 td {
	padding-top: 11px;
}

.big-text {
	padding-top: 2px;
	font-weight: 700;
	font-size: 45px;
	line-height: 64px;
	height: 64px;
	color: var(--black);
}

.big-text span{
	font-weight: 700;
	font-size: 26px;
	line-height: 40px;
	vertical-align: top;
}

.partners-list {
	height: 180px;
	padding: 0;
	margin: 0;
	margin-bottom: 80px;
	list-style: none;
	display: flex;
	border-top: 2px solid var(--grey);
	border-bottom: 2px solid var(--grey);
}

.partners-list li:nth-child(n+2) {
	background: url('../img/grey-line.png') left no-repeat;
	background-position: left center;
}

.partners-item-1 {
	box-sizing: border-box;
	flex-basis: 279px;
	padding-top: 64px;
	padding-left: 32px;
}

.partners-item-2 {
	box-sizing: border-box;
	flex: 0 0 298px;
	padding-top: 47px;
	padding-left: 47px;
}

.partners-item-3 {
	box-sizing: border-box;
	flex-basis: 298px;
	padding-top: 66px;
	padding-left: 62px;
}
.partners-item-4 {
	box-sizing: border-box;
	flex-basis: 279px;
	padding-top: 53px;
	padding-left: 69px;
}

.partners-list a {
	opacity: 0.2;
}

.partners-list a:hover {
	opacity: 1;
}

.partners-list a:focus {
	opacity: 0.1;
}

.map {
	position: relative;
}
.map-img {
	width: 100%;
}

.adress {
	box-sizing: border-box;
	position: absolute;
	top: 54px;
	background-color: var(--white);
	width: 319px;
	line-height: 18px;
	color: var(--grey-special);
	padding-left: 52px;
	margin-bottom: 117px;
}

.adress h2 {
	margin: 0;
	padding-top: 44px;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--black);
}

.adress p {
	margin: 0;
	padding-top: 22px;
}

.adress a {
	width: 219px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 37px;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	background-color: var(--red);
	color: var(--white);
	border-radius: 3px;
	margin-bottom: 47px;
} 

.adress a:hover {
	background-color: var(--red-dark);
}	

.adress a:focus {
	background-color: var(--red-extra-dark);
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social {
	display: flex;
}

.social-button ul{
	margin: 0;
	padding: 0;
	margin-top: 68px;
	list-style: none;
	width: 261px;
	display: flex;
	justify-content: space-between;
}

.social-button li>a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-text {
	margin-left: 139px;
	margin-top: 75px;
}

.social-text h2 {
	margin: 0;
	padding: 0;
}

.social-text p {
	margin-top: 10px;
}

.social-button {
	list-style: none;
}

.social-button a {
	display: block;
	height: 81px;
	width: 81px;
	background: var(--grey-for-social);
	border-radius: 50%;
	text-align: center;
}

.social-button a:hover {
	background-color: var(--red-dark);
}

.social-button a:focus {
	background-color: var(--red-extra-dark);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-text h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
}
.social-text p {
	line-height: 22px;
	color: var(--black-extra-light);
}


/*------------------------------CATALOG.HTML---------------*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.catalog-header {
	padding-top: 55px;
	padding-bottom: 108px;
	padding-left: 208px;
}

.site-navigation-catalog {
	padding-bottom: 13px;
	border-bottom: 2px solid var(--red);
}

.parameters-header-wrapper h3, .filter legend {
	padding-left: 0;
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.parameters-header {
	margin-top: 37px;
	display: flex;
	align-items: center;
}

.parameters-header h3 {
	width: 400px;
}

.parameters-header-sort {
	width: 272px;
	display: flex;
	justify-content: space-between;
}

.parameters-header-arrows {
	box-sizing: border-box;
	width: 87px;
	padding-left: 47px;
	display: flex;
	justify-content: space-between;
}

.parameters-header-sort a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--black);
	opacity: 0.3;
}

.parameters-header-sort a:hover {
	opacity: 0.6;
}

.parameters-header-sort a:active, .parameters-header-sort a:focus {
	opacity: 1;
}

/*------------------------------FILTER---------------*/

.filter-wrapper {
	display: flex;
	margin-top: 30px;
}

.filter {
	width: 260px;
	margin-right: 140px;
}

.filter fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

.range-filter {
  width: 260px;
  /*margin-top: 49px;*/
}
.range-controls {
	position: relative;
	margin-bottom: 13px;
	height: 41px;
	padding-top: 39px;
  	padding-right: 20px;
  	padding-left: 20px;
	background: var(--grey);
	border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: var(--grey-extra-light);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--green);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: var(--grey-for-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--grey-for-shadow-toggle);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
	line-height: 22px;
	color: var(--black-light);
	text-transform: uppercase;
	margin-bottom: 54px;
}

.min-price {
	margin-right: 30px;
}
.price-controls input {
	box-sizing: border-box;
	margin-left: 9px;
	font: inherit;
	text-align: center;
	width: 78px;
	height: 38px;
	border: 0px;
	background-color: var(--grey);
	border-radius: 3px;
}

.filter ul {
	padding: 0;
	list-style: none;
}

.filter li {
	padding-left: 37px;
	padding-bottom: 22px;
	line-height: 19px;
	color: var(--black-light);
}

.filter li:last-child {
	padding-bottom: 0;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -37px;
  top: -2px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 4px solid var(--black-for-filter);
  opacity: 0.4;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -28px;
  width: 7px;
  height: 7px;
  background-color: var(--black-for-filter);
  opacity: 0.4;
  border-radius: 50%;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -37px;
  top: -2px;
  width: 17px;
  height: 17px;
  border: 2px solid var(--black-for-filter);
  border-radius: 5px;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -30px;
  width: 22px;
  height: 17px;
  border: none;
  background-image: url("../img/checkbox-onn.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}







.net-choise {
	margin-bottom: 45px;
}

.features-choice {
	margin-bottom: 51px;
}

.button-submit-form {
	width: 260px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font: inherit;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--black);
	border-radius: 3px;
	border: 0;
	background-color: var(--grey);
}

.button-submit-form:hover {
	background-color: var(--grey-dark);
}

.button-submit-form:focus {
	background-color: var(--grey-extra-dark);
	color: rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.catalog {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	list-style: none;
}

.catalog-item img {
	display: block;
}

.catalog-item-img-header {
	opacity: 0.12;
}

.catalog-item-img {
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0 0 5px 5px;
}

.catalog-item {
	margin-bottom: 30px;
	position: relative;
}

.catalog-item-caption {
	position: absolute;
	top: 390px;
	background-color: var(--grey);
	line-height: 18px;
	color: var(--grey-special);
	box-sizing: border-box;
	padding-top: 26px;
	text-align: center;
	width: 360px;
	height: 230px;
	display: none;
	flex-direction: column;
	align-items: center;
	border-radius: 0 0 5px 5px;
}

.catalog-item:hover .catalog-item-caption {
	display: flex;
}

.catalog-item:hover .catalog-item-img-header{
	opacity: 1;
}

.catalog-item:hover {
box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-item-caption h3 {
	margin: 0;
}

.catalog-item-caption p {
	margin-bottom: 32px;
}

a.caption-header {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--black);
}

a.caption-header:hover {
	color: var(--red);
}

a.caption-header:focus {
	color: var(--black);
	color: rgba(0, 0, 0, 0.3);
}

a.buy {
	margin-bottom: 44px;
	font-weight: 500;
	line-height: 18px;
	color: var(--white);
	background-color: var(--red);
	border-radius: 3px;
	width: 200px;
	height: 50px;
	display: flex;
	justify-content:center;
	align-items:center;
}

a.buy:hover {
	background-color: var(--red-dark);
}

a.buy:focus {
	background-color: var(--red-extra-dark);
	color: rgba(255, 255, 255, 0.3); 
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.page-button {
	margin-left: 400px;
	margin-top: 55px;
	margin-bottom: 60px;
	display: flex;
}

.page-button a {
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	width: 50px;
	height: 50px;
	margin-left: 11px;
	font-weight: 500;
	line-height: 18px;
	background-color: var(--grey);
	border-radius: 3px;
	color: var(--black);
}

.page-button a:last-child {
	flex-basis: 260px;
}

.page-button a:active { /*НЕ ПОНЯТНО КК СДЕЛАТЬ ЧТОБЫ РАБОТАЛО*/
	box-shadow: none;
	background-color: rgba(0, 0, 0, 0.0001);
	border-color: var(--grey-page-button);
	box-sizing: border-box;
}

.page-button a:hover {
	background-color: var(--grey-dark);
}
.page-button a:focus {
	color: rgba(0, 0, 0, 0.3);
	background-color: var(--grey-extra-dark);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*------------------------------POPUP---------------*/

.popup-feedback {
	width: 960px;
	height: 590px;
	border-color: var(--white);
	border: 3px solid black;
}

.popup-feedback-container {
  width: 770px;
  margin: 0 auto;
  margin-top: 63px;
}
.popup-feedback-header{
	display: flex;
	justify-content: space-between;
	margin-bottom: 37px;
}

.popup-feedback h2 {
	margin: 0;
	width: 312px;
	font-weight: 700;
	font-size: 45px;
	line-height: 53px;
}


.button-close {
	padding: 0;
	border: none;
	background-color: inherit;
	opacity: 0.3;
}

.button-close:hover {
	opacity: 1;
}

.button-close:focus {
	opacity: 0.1;
}

.popup-feedback-personal {
	width: 760px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 34px;
}

.popup-feedback span {
	display: block;
	margin: 0;
	margin-bottom: 10px; 
	font-weight: 700;
	line-height: 18px;
}

.popup-feedback input {
	width: 360px;
	height: 50px;
}

.popup-feedback input, .popup-textarea {
	font: inherit;
	line-height: 18px;
	color: var(--black);
	border: 2px solid var(--grey-extra-light);
	box-sizing: border-box;
	border-radius: 3px;
}

.popup-feedback input:hover {
	border-color: var(--grey-light);
}

.popup-feedback input:focus {
	border-color: var(--black);
}

.popup-feedback input:invalid {
	border-color: var(--red-dark);
	color: var(--red-dark);
}

.popup-textarea {
	width: 760px;
	height: 118px;
	resize: none;
}

.popup-feedback textarea:hover {
	border-color: var(--grey-light);
}

.popup-feedback textarea:focus {
	border-color: var(--black);
}

.button-submit {
	margin-top: 47px;
	font: inherit;
	border: none;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	background-color: var(--red);
	color: var(--white);
	border-radius: 3px;
	width: 260px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-submit:hover {
	background-color: var(--red-dark);
}

.button-submit:focus {
	border: none;
	background-color: var(--red-extra-dark);
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.popup-feedback-hidden {
	display: none;
}









